server:
  port: ${APP_PORT:8080}

spring:
  servlet:
    multipart:
      max-file-size: ${MAX_FILE_SIZE:10MB}
      max-request-size: ${MAX_REQUEST_SIZE:10MB}
  mongodb:
    uri: ${MONGODB_URI:mongodb://localhost:27017/budget}
